.chart{

      -webkit-box-shadow: -4px 3px 9px -9px #000000, 2px -5px 9px -9px #000000;
    box-shadow: -4px 3px 9px -9px #000000, 2px -5px 9px -9px #000000;
    padding:10px;
      margin: 0 20px;
    color:gray;
    height:100%;
  
    .title{
        margin-bottom:5px;
    }
    .recharts-responsive-container{
        display: grid;
    place-content: center;
    }
}
